name: CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

permissions:
  contents: read

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "9.0.x"
          cache: true

      - name: Restore MAUI workloads
        run: dotnet workload restore

      - name: Restore (Windows only)
        run: dotnet restore .\MauiApp2\MauiApp2.csproj -f net9.0-windows10.0.19041.0

      - name: Build (Windows)
        run: dotnet build .\MauiApp2\MauiApp2.csproj -c Release -f net9.0-windows10.0.19041.0
