name: CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

permissions:
  contents: read

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"

      - name: Restore MAUI workloads
        run: dotnet workload restore .\MauiApp2\MauiApp2.csproj

      - name: Restore
        run: dotnet restore .\MauiApp2\MauiApp2.csproj -r win-x64

      - name: Build (Windows)
        run: dotnet build .\MauiApp2\MauiApp2.csproj -c Release -f net10.0-windows10.0.19041.0 -r win-x64 --no-restore
