name: CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "9.0.x"   # or "9.0.300" if you want to pin exact

      - name: Restore MAUI workloads
        run: dotnet workload restore

      - name: Restore
        run: dotnet restore

      - name: Build (Windows)
        run: dotnet build .\MauiApp2\MauiApp2.csproj -c Release -f net9.0-windows10.0.19041.0
